:root{
    --Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);

}
@font-face {
    font-family: pop;
 src: url(assets/fonts/Poppins-Italic.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: pop;
}
body{

    background-color: var(--Off-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    background-color: var(--White);
    width: 420px;
    max-width: 90%;
    padding: 25px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 150px;

}
input{
    width: 70px;
    outline: none;
    border: 2px solid var(--Off-white);
    padding: 10px;
    border-radius: 10px;
}
input:focus{
    border: 2px solid var(--Purple);
}
label{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 5px;
}
small{
    font-size: 8px;
    color: red;
    text-transform: capitalize;
    font-weight: bold;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Purple);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 80px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--Off-white);
    cursor: pointer;
}
.submit-btn:hover,
.submit-btn:focus{
    background-color: var(--Off-black);
}
.input-container{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: flex-start;
    
}
#rotate-image{
    transition: transform 1s;
    
}
.input-flex{
    display: flex;
}
.line{
    background-color: var(--Off-white);
    height: 2px;
    width: 100%;
}
.line-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.output{

}
.output span{
    color: var(--Purple);
    font-size: 50px;
    padding-right: 10px;
}
.output h1{
    font-size: 50px;
}

@media only screen  and (max-width:750px){
input{
    width: 100%;
}
.output span,
.output h1{
    font-size: 1.9rem;
}
.submit-btn{
    width: 40px;
    height: 40px;
    left: 40%;
    top: 105px;

}
.submit-btn img{
    transform: scale(0.5);
}
}